*.png
*.sketch
# Layers inside an Icon Composer document are part of the icon
!*.icon/Assets/*.png
!0-source-icons/*.icon/Assets/*.png
# The images of a static app icon set are what ships
!*.xcassets/*.appiconset/*.png
