name: Publish OTA Update

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  build_and_publish:
    name: Build and Publish OTA Update
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [ios, android]

    steps:
      - name: Check out the code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with: {node-version-file: '.node-version'}
      
      - name: Install dependencies
        run: npm ci

      - name: Build OTA update
        run: |
          mkdir -p dist/ota/bundles
          npm run build:ota -- --platform ${{ matrix.platform }}

      - name: Create Dockerfile for OTA bundle
        run: |
          cat > dist/ota/Dockerfile <<'EOF'
          FROM scratch
          COPY . /
          EOF

      - name: Generate image tag
        id: tag
        run: |
          NATIVE_COMPAT_VERSION=$(cat NATIVE_VERSION)
          REPO_LOWERCASE=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          echo "repo=${REPO_LOWERCASE}" >> $GITHUB_OUTPUT
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "tag=pr-${{ github.event.pull_request.number }}-${NATIVE_COMPAT_VERSION}-${{ matrix.platform }}" >> $GITHUB_OUTPUT
          else
            echo "tag=${{ github.ref_name }}-${NATIVE_COMPAT_VERSION}-${{ matrix.platform }}" >> $GITHUB_OUTPUT
          fi
      
      - name: Get Git commit timestamps
        id: git-timestamp
        run: echo "timestamp=$(git log -1 --pretty=%ct)" >> $GITHUB_OUTPUT
      
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
        with:
          images: ghcr.io/${{ steps.tag.outputs.repo }}
          tags: |
            type=raw,value=${{ steps.tag.outputs.tag }}

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} 
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Publish to GHCR
        uses: docker/build-push-action@v6
        env:
          SOURCE_DATE_EPOCH: ${{ steps.git-timestamp.outputs.timestamp }}
        with:
          context: ./dist/ota
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          annotations: |
            manifest:test.annotation=value
            ${{ steps.meta.outputs.annotations }}
          # The following two lines make the image public
          # See: https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry#ensuring-workflow-access-to-your-package
          # and: https://github.com/docker/build-push-action/issues/294
          # We're not using login-action as we have the permissions set at the workflow level
          # All we need to do is set the actor to the GITHUB_TOKEN user
          github-token: ${{ secrets.GITHUB_TOKEN }}
