# example taken from https://github.com/marketplace/actions/gradle-wrapper-validation#add-a-new-dedicated-workflow

name: "Validate Gradle Wrapper"

on:
  push:

permissions:
  contents: read

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # v3
